<%- include("header") -%>

<h1>Your profile</h1>
<h3> <%= name %>  </h3>
<br />
<h3>Invites</h3>
<form class="" action="/profile" method="post">
  <%  for(let i=0; i<invites.length; i++){  %>
  <div class="">

      <label><%= invites[i].groupRequestId %></label>
      <button type="submit" name="remove" value= <%= invites[i].groupRequestId %> >remove</button>
      <button type="submit" name="join" value= <%= invites[i].groupRequestId %> >join</button>

  </div>
  <%  }  %>
</form>
<h3>Following</h3>
<button><a href='/profile/request'>Follow</a></button>
<br />
<form class="" action="/profile/req" method="post">
  <%  for(let i=0; i<followReq.length; i++){  %>
  <div class="">

      <label><%= followReq[i].followRequestName %></label>
      <button type="submit" name="remove" value= <%= followReq[i].followRequestName %> >remove</button>
      <button type="submit" name="join" value= <%= followReq[i].followRequestName %> >join</button>

  </div>
  <%  }  %>
</form>

<h3>Followers</h3>
<%  for(let i=0; i<followers.length; i++){  %>
<div class="">
    <p><%= followers[i].username %></p>
</div>
<%  }  %>
<br />

<h3>Following</h3>
<%  for(let i=0; i<following.length; i++){  %>
<div class="">
    <p><%= following[i].username %></p>
</div>
<%  }  %>
<br />


<button><a href='/start'>Go Back</a></button>
<button><a href='/'>Logout</a></button>

<%- include("footer") -%>
